#Ignore All Directories
*/*

#Ignore Files In Current Directory
/*.*

#Allow These Directories
!Project/*.*
!Source/*.*
!stylesheets/*.*

Project/*/*

#Allow These Files
!.gitignore
!index.html
!License.txt
!README.md
!params.json

*.dll
*.ilk
*.lib
*.exe
*.pdb
*.idb
*.vcxproj.user
*.vcxproj.filters
*.VC.db
*.tlog
*.lastbuildstate
unsuccessfulbuild

